[submodule "claudinary-image-service"]
	path = claudinary-image-service
	url = https://github.com/ICHEJA-PROJECT/claudinary-image-service.git
[submodule "voice-evaluator-service"]
	path = voice-evaluator-service
	url = https://github.com/ICHEJA-PROJECT/voice-evaluator-service.git
[submodule "AC_Comparar_Imagen"]
	path = AC_Comparar_Imagen
	url = https://github.com/ICHEJA-PROJECT/AC_Comparar_Imagen

[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/ICHEJA-PROJECT/api-gateway.git
[submodule "Service-Exercise"]
	path = Service-Exercise
	url = https://github.com/ICHEJA-PROJECT/Service-Exercise.git
[submodule "Service-Record"]
	path = Service-Record
	url = https://github.com/ICHEJA-PROJECT/Service-Record.git
[submodule "Service-Preference"]
	path = Service-Preference
	url = https://github.com/ICHEJA-PROJECT/Service-Preference.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/ICHEJA-PROJECT/auth-service.git
